.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.App-header {
  margin: 0;
  background-color: #282c34;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  border-radius: 1.5%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 50vh;
  width: 20%;
}